*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    

}
body{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background-color: #437C90;
}
input{
    width : 27rem;
    min-height:3rem ;
    border-radius: 30px;
    padding: 5px;
    margin: 3rem;
    font-size: 2rem;
    background-color: #EEEBD3;
     color:#255957; 
     word-break: break-all;
}
li{
    height: 2.5rem;
    width: 24rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    background-color: beige;
    border:1px solid black;
    padding: 0.5rem;
    margin: 0.25rem;
    border-radius: 10px;
}
.delete{
   color: red;
}